@charset "utf-8";

@use './_include/generic';

@use './_include/base';

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Nico Moji';
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s;
}
.v-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
