@use './_include/settings';
@use './_include/tools';
@use 'sass:math';

.list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 115vh;
    background-color: #008bd8;
    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        overflow-x: hidden;
    }
    &__wrapper {
        margin-top: settings.$size-20px-to-vw;
        width: 95%;
        background-color: #fff;
    }
    &__logo {
        display: block;
        width: settings.$size-200px-to-vw;
        margin: 0 auto;
    }
    &__head {
        margin-bottom: settings.$size-5px-to-vw;
        text-align: center;
        font-size: settings.$size-32px-to-vw;
        line-height: 1.3;
    }
    &__desp {
        margin-bottom: settings.$size-30px-to-vw;
        text-align: center;
        font-size: settings.$size-18px-to-vw;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        & > li {
            width: 25%;
            margin-bottom: settings.$size-20px-to-vw;
            &:after {
                content: '';
                display: block;
                padding-top: 60%;
            }
            & > .list__space {
                position: relative;
                width: 80%;
                margin: 0 auto;
                background-color: #92d0f1;
                &--noimage {
                    &:before {
                        content: '';
                        display: block;
                        padding-top: 100%;
                    }
                }
                & > img {
                    position: relative;
                    z-index: 10;
                    width: 90%;
                    display: block;
                }
            }
        }
        & > li:nth-of-type(4n) {
            .list__space {
                position: relative;
                width: 80%;
                margin: 0 auto;
                background-color: #fdf397;
            }
        }
    }
    &__decorate {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        content: '';
        display: block;
        width: 88%;
        transform: rotate(45deg);
        background-color: #fdf397;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
    &__name {
        position: absolute;
        display: block;
        width: 100%;
        bottom: settings.$size-minus-35px-to-vw;
        text-align: center;
    }
    &__coupon {
        position: absolute;
        bottom: settings.$size-minus-55px-to-vw;
        display: block;
        width: 100%;
        text-align: center;
        font-size: settings.$size-12px-to-vw;
        line-height: 0.8;
        font-feature-settings: 'palt';
        color: #db2424;
    }
    &__button {
        display: block;
        width: 40%;
        margin: settings.$size-30px-to-vw auto;
        padding: settings.$size-15px-to-vw;
        border-radius: settings.$size-13px-to-vw;
        font-feature-settings: 'palt';
        font-size: settings.$size-20px-to-vw;
        text-align: center;
        background-color: #00a040;
        color: #fff;
    }
}
