@use './_include/settings';
@use './_include/tools';
@use 'sass:math';

.start {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        overflow-x: hidden;
        background-color: #008bd8;
    }
    &__parent {
        position: relative;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__logo {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: settings.$size-minus-150px-to-vw;
        margin: auto;
        width: 100%;
    }
    &__button {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 150;
        display: block;
        width: 40%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 15px;
        font-size: 1.5rem;
        text-align: center;
        &--ar {
            top: settings.$size-150px-to-vw;
            background-color: #00a040;
            color: #fff;
        }
        &--list {
            top: settings.$size-220px-to-vw;
            outline: 3px solid #fff;
            color: #fff;
        }
    }
    &__animal {
        position: absolute;
        z-index: 50;
        width: settings.$size-65px-to-vw;
        &--dog {
            bottom: settings.$size-minus-200px-to-vw;
            left: settings.$size-23px-to-vw;
        }
        &--rabbit {
            bottom: settings.$size-minus-325px-to-vw;
            right: settings.$size-23px-to-vw;
        }
        &--cat {
            bottom: settings.$size-minus-350px-to-vw;
            left: settings.$size-35px-to-vw;
        }
    }
}

.start-mountain {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    &__content {
        background: #075d29;
        border-top-left-radius: 1500%;
        border-top-right-radius: 1500%;
        height: 100%;
        margin-left: -100px;
        margin-right: -100px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
