@use 'sass:math';

$break-small: 768px !default;
$break-large: 1199px !default;

// スマートフォン（〜768px）
$handhelds: handhelds !default;

// タブレット（769px〜1199px）
$medium-screens: medium-screens !default;

// デスクトップ（1200px〜）
$wide-screens: wide-screens !default;

// タブレット + デスクトップ（769px〜）
$medium-and-wide-screens: medium-and-wide-screens !default;

// ホバーアニメーション
$transition-over-duration: 100ms;
$transition-over-easing: cubic-bezier(0.215, 0.61, 0.355, 1); // 三次曲線(cubic curve)  cubicEaseOut
$transition-out-duration: 500ms;
$transition-out-easing: cubic-bezier(0.215, 0.61, 0.355, 1); // 三次曲線(cubic curve)  cubicEaseOut

// 色
$color-white: #ffffff !default;
$color-black: #000 !default;
$color-gray: #888888 !default;
$color-red: #ba0c2f !default;
$color-orange: #ff8a0c !default;
$color-yellow: #fbc41e !default;
$color-light-pink: #feeef1 !default;
$color-pink: #fe96a7 !default;
$color-dark-pink: #ff7185 !default;
//$color-light-blue: #c7edff !default;
$color-light-blue: #e6f7ff !default;
$color-blue: #8fb8e1 !default;
$color-dark-blue: #4fa8ec !default;
$color-spring: #f37978 !default;
$color-summer: #6e8fd0 !default;
$color-autumn: #eba247 !default;
$color-winter: #a0699e !default;

// フォントウェイト
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// フォントサイズ
$font-size-base-handhelds: 14;
$font-size-8px-handhelds: math.div(8, $font-size-base-handhelds) + rem;
$font-size-9px-handhelds: math.div(9, $font-size-base-handhelds) + rem;
$font-size-10px-handhelds: math.div(10, $font-size-base-handhelds) + rem;
$font-size-11px-handhelds: math.div(11, $font-size-base-handhelds) + rem;
$font-size-12px-handhelds: math.div(12, $font-size-base-handhelds) + rem;
$font-size-13px-handhelds: math.div(13, $font-size-base-handhelds) + rem;
$font-size-14px-handhelds: math.div(14, $font-size-base-handhelds) + rem;
$font-size-15px-handhelds: math.div(15, $font-size-base-handhelds) + rem;
$font-size-16px-handhelds: math.div(16, $font-size-base-handhelds) + rem;
$font-size-17px-handhelds: math.div(17, $font-size-base-handhelds) + rem;
$font-size-18px-handhelds: math.div(18, $font-size-base-handhelds) + rem;
$font-size-19px-handhelds: math.div(19, $font-size-base-handhelds) + rem;
$font-size-20px-handhelds: math.div(20, $font-size-base-handhelds) + rem;
$font-size-21px-handhelds: math.div(21, $font-size-base-handhelds) + rem;
$font-size-22px-handhelds: math.div(22, $font-size-base-handhelds) + rem;
$font-size-23px-handhelds: math.div(23, $font-size-base-handhelds) + rem;
$font-size-24px-handhelds: math.div(24, $font-size-base-handhelds) + rem;
$font-size-25px-handhelds: math.div(25, $font-size-base-handhelds) + rem;
$font-size-26px-handhelds: math.div(26, $font-size-base-handhelds) + rem;
$font-size-27px-handhelds: math.div(27, $font-size-base-handhelds) + rem;
$font-size-28px-handhelds: math.div(28, $font-size-base-handhelds) + rem;
$font-size-29px-handhelds: math.div(29, $font-size-base-handhelds) + rem;
$font-size-30px-handhelds: math.div(30, $font-size-base-handhelds) + rem;
$font-size-31px-handhelds: math.div(31, $font-size-base-handhelds) + rem;
$font-size-32px-handhelds: math.div(32, $font-size-base-handhelds) + rem;
$font-size-33px-handhelds: math.div(33, $font-size-base-handhelds) + rem;
$font-size-34px-handhelds: math.div(34, $font-size-base-handhelds) + rem;
$font-size-35px-handhelds: math.div(35, $font-size-base-handhelds) + rem;
$font-size-36px-handhelds: math.div(36, $font-size-base-handhelds) + rem;
$font-size-37px-handhelds: math.div(37, $font-size-base-handhelds) + rem;
$font-size-38px-handhelds: math.div(38, $font-size-base-handhelds) + rem;
$font-size-39px-handhelds: math.div(39, $font-size-base-handhelds) + rem;
$font-size-40px-handhelds: math.div(40, $font-size-base-handhelds) + rem;
$font-size-41px-handhelds: math.div(41, $font-size-base-handhelds) + rem;
$font-size-42px-handhelds: math.div(42, $font-size-base-handhelds) + rem;
$font-size-43px-handhelds: math.div(43, $font-size-base-handhelds) + rem;
$font-size-44px-handhelds: math.div(44, $font-size-base-handhelds) + rem;
$font-size-45px-handhelds: math.div(45, $font-size-base-handhelds) + rem;
$font-size-46px-handhelds: math.div(46, $font-size-base-handhelds) + rem;
$font-size-47px-handhelds: math.div(47, $font-size-base-handhelds) + rem;
$font-size-48px-handhelds: math.div(48, $font-size-base-handhelds) + rem;
$font-size-49px-handhelds: math.div(49, $font-size-base-handhelds) + rem;
$font-size-50px-handhelds: math.div(50, $font-size-base-handhelds) + rem;
$font-size-base-medium-and-wide-screens: 16;
$font-size-8px-medium-and-wide-screens: math.div(8, $font-size-base-medium-and-wide-screens) + rem;
$font-size-9px-medium-and-wide-screens: math.div(9, $font-size-base-medium-and-wide-screens) + rem;
$font-size-10px-medium-and-wide-screens: math.div(10, $font-size-base-medium-and-wide-screens) + rem;
$font-size-11px-medium-and-wide-screens: math.div(11, $font-size-base-medium-and-wide-screens) + rem;
$font-size-12px-medium-and-wide-screens: math.div(12, $font-size-base-medium-and-wide-screens) + rem;
$font-size-13px-medium-and-wide-screens: math.div(13, $font-size-base-medium-and-wide-screens) + rem;
$font-size-14px-medium-and-wide-screens: math.div(14, $font-size-base-medium-and-wide-screens) + rem;
$font-size-15px-medium-and-wide-screens: math.div(15, $font-size-base-medium-and-wide-screens) + rem;
$font-size-16px-medium-and-wide-screens: math.div(16, $font-size-base-medium-and-wide-screens) + rem;
$font-size-17px-medium-and-wide-screens: math.div(17, $font-size-base-medium-and-wide-screens) + rem;
$font-size-18px-medium-and-wide-screens: math.div(18, $font-size-base-medium-and-wide-screens) + rem;
$font-size-19px-medium-and-wide-screens: math.div(19, $font-size-base-medium-and-wide-screens) + rem;
$font-size-20px-medium-and-wide-screens: math.div(20, $font-size-base-medium-and-wide-screens) + rem;
$font-size-21px-medium-and-wide-screens: math.div(21, $font-size-base-medium-and-wide-screens) + rem;
$font-size-22px-medium-and-wide-screens: math.div(22, $font-size-base-medium-and-wide-screens) + rem;
$font-size-23px-medium-and-wide-screens: math.div(23, $font-size-base-medium-and-wide-screens) + rem;
$font-size-24px-medium-and-wide-screens: math.div(24, $font-size-base-medium-and-wide-screens) + rem;
$font-size-25px-medium-and-wide-screens: math.div(25, $font-size-base-medium-and-wide-screens) + rem;
$font-size-26px-medium-and-wide-screens: math.div(26, $font-size-base-medium-and-wide-screens) + rem;
$font-size-27px-medium-and-wide-screens: math.div(27, $font-size-base-medium-and-wide-screens) + rem;
$font-size-28px-medium-and-wide-screens: math.div(28, $font-size-base-medium-and-wide-screens) + rem;
$font-size-29px-medium-and-wide-screens: math.div(29, $font-size-base-medium-and-wide-screens) + rem;
$font-size-30px-medium-and-wide-screens: math.div(30, $font-size-base-medium-and-wide-screens) + rem;
$font-size-31px-medium-and-wide-screens: math.div(31, $font-size-base-medium-and-wide-screens) + rem;
$font-size-32px-medium-and-wide-screens: math.div(32, $font-size-base-medium-and-wide-screens) + rem;
$font-size-33px-medium-and-wide-screens: math.div(33, $font-size-base-medium-and-wide-screens) + rem;
$font-size-34px-medium-and-wide-screens: math.div(34, $font-size-base-medium-and-wide-screens) + rem;
$font-size-35px-medium-and-wide-screens: math.div(35, $font-size-base-medium-and-wide-screens) + rem;
$font-size-36px-medium-and-wide-screens: math.div(36, $font-size-base-medium-and-wide-screens) + rem;
$font-size-37px-medium-and-wide-screens: math.div(37, $font-size-base-medium-and-wide-screens) + rem;
$font-size-38px-medium-and-wide-screens: math.div(38, $font-size-base-medium-and-wide-screens) + rem;
$font-size-39px-medium-and-wide-screens: math.div(39, $font-size-base-medium-and-wide-screens) + rem;
$font-size-40px-medium-and-wide-screens: math.div(40, $font-size-base-medium-and-wide-screens) + rem;
$font-size-41px-medium-and-wide-screens: math.div(41, $font-size-base-medium-and-wide-screens) + rem;
$font-size-42px-medium-and-wide-screens: math.div(42, $font-size-base-medium-and-wide-screens) + rem;
$font-size-43px-medium-and-wide-screens: math.div(43, $font-size-base-medium-and-wide-screens) + rem;
$font-size-44px-medium-and-wide-screens: math.div(44, $font-size-base-medium-and-wide-screens) + rem;
$font-size-45px-medium-and-wide-screens: math.div(45, $font-size-base-medium-and-wide-screens) + rem;
$font-size-46px-medium-and-wide-screens: math.div(46, $font-size-base-medium-and-wide-screens) + rem;
$font-size-47px-medium-and-wide-screens: math.div(47, $font-size-base-medium-and-wide-screens) + rem;
$font-size-48px-medium-and-wide-screens: math.div(48, $font-size-base-medium-and-wide-screens) + rem;
$font-size-49px-medium-and-wide-screens: math.div(49, $font-size-base-medium-and-wide-screens) + rem;
$font-size-50px-medium-and-wide-screens: math.div(50, $font-size-base-medium-and-wide-screens) + rem;
$font-size-51px-medium-and-wide-screens: math.div(51, $font-size-base-medium-and-wide-screens) + rem;
$font-size-52px-medium-and-wide-screens: math.div(52, $font-size-base-medium-and-wide-screens) + rem;
$font-size-53px-medium-and-wide-screens: math.div(53, $font-size-base-medium-and-wide-screens) + rem;
$font-size-54px-medium-and-wide-screens: math.div(54, $font-size-base-medium-and-wide-screens) + rem;
$font-size-55px-medium-and-wide-screens: math.div(55, $font-size-base-medium-and-wide-screens) + rem;
$font-size-56px-medium-and-wide-screens: math.div(56, $font-size-base-medium-and-wide-screens) + rem;
$font-size-57px-medium-and-wide-screens: math.div(57, $font-size-base-medium-and-wide-screens) + rem;
$font-size-58px-medium-and-wide-screens: math.div(58, $font-size-base-medium-and-wide-screens) + rem;
$font-size-59px-medium-and-wide-screens: math.div(59, $font-size-base-medium-and-wide-screens) + rem;
$font-size-60px-medium-and-wide-screens: math.div(60, $font-size-base-medium-and-wide-screens) + rem;

// サイズ
$size-base: 375;
$size-minus-1px-to-vw: (math.div(100, $size-base) * -1) + vw;
$size-minus-2px-to-vw: (math.div(100, $size-base) * -2) + vw;
$size-minus-3px-to-vw: (math.div(100, $size-base) * -3) + vw;
$size-minus-4px-to-vw: (math.div(100, $size-base) * -4) + vw;
$size-minus-5px-to-vw: (math.div(100, $size-base) * -5) + vw;
$size-minus-6px-to-vw: (math.div(100, $size-base) * -6) + vw;
$size-minus-7px-to-vw: (math.div(100, $size-base) * -7) + vw;
$size-minus-8px-to-vw: (math.div(100, $size-base) * -8) + vw;
$size-minus-9px-to-vw: (math.div(100, $size-base) * -9) + vw;
$size-minus-10px-to-vw: (math.div(100, $size-base) * -10) + vw;
$size-minus-11px-to-vw: (math.div(100, $size-base) * -11) + vw;
$size-minus-12px-to-vw: (math.div(100, $size-base) * -12) + vw;
$size-minus-13px-to-vw: (math.div(100, $size-base) * -13) + vw;
$size-minus-14px-to-vw: (math.div(100, $size-base) * -14) + vw;
$size-minus-15px-to-vw: (math.div(100, $size-base) * -15) + vw;
$size-minus-16px-to-vw: (math.div(100, $size-base) * -16) + vw;
$size-minus-20px-to-vw: (math.div(100, $size-base) * -20) + vw;
$size-minus-25px-to-vw: (math.div(100, $size-base) * -25) + vw;
$size-minus-30px-to-vw: (math.div(100, $size-base) * -30) + vw;
$size-minus-35px-to-vw: (math.div(100, $size-base) * -35) + vw;
$size-minus-40px-to-vw: (math.div(100, $size-base) * -40) + vw;
$size-minus-45px-to-vw: (math.div(100, $size-base) * -45) + vw;
$size-minus-50px-to-vw: (math.div(100, $size-base) * -50) + vw;
$size-minus-55px-to-vw: (math.div(100, $size-base) * -55) + vw;
$size-minus-60px-to-vw: (math.div(100, $size-base) * -60) + vw;
$size-minus-65px-to-vw: (math.div(100, $size-base) * -65) + vw;
$size-minus-70px-to-vw: (math.div(100, $size-base) * -70) + vw;
$size-minus-75px-to-vw: (math.div(100, $size-base) * -75) + vw;
$size-minus-80px-to-vw: (math.div(100, $size-base) * -80) + vw;
$size-minus-85px-to-vw: (math.div(100, $size-base) * -85) + vw;
$size-minus-90px-to-vw: (math.div(100, $size-base) * -90) + vw;
$size-minus-95px-to-vw: (math.div(100, $size-base) * -95) + vw;
$size-minus-100px-to-vw: (math.div(100, $size-base) * -100) + vw;
$size-minus-125px-to-vw: (math.div(100, $size-base) * -125) + vw;
$size-minus-150px-to-vw: (math.div(100, $size-base) * -150) + vw;
$size-minus-175px-to-vw: (math.div(100, $size-base) * -175) + vw;
$size-minus-200px-to-vw: (math.div(100, $size-base) * -200) + vw;
$size-minus-225px-to-vw: (math.div(100, $size-base) * -225) + vw;
$size-minus-250px-to-vw: (math.div(100, $size-base) * -250) + vw;
$size-minus-275px-to-vw: (math.div(100, $size-base) * -275) + vw;
$size-minus-300px-to-vw: (math.div(100, $size-base) * -300) + vw;
$size-minus-325px-to-vw: (math.div(100, $size-base) * -325) + vw;
$size-minus-350px-to-vw: (math.div(100, $size-base) * -350) + vw;
$size-minus-375px-to-vw: (math.div(100, $size-base) * -375) + vw;
$size-minus-400px-to-vw: (math.div(100, $size-base) * -400) + vw;
$size-1px-to-vw: (math.div(100, $size-base) * 1) + vw;
$size-2px-to-vw: (math.div(100, $size-base) * 2) + vw;
$size-3px-to-vw: (math.div(100, $size-base) * 3) + vw;
$size-4px-to-vw: (math.div(100, $size-base) * 4) + vw;
$size-5px-to-vw: (math.div(100, $size-base) * 5) + vw;
$size-6px-to-vw: (math.div(100, $size-base) * 6) + vw;
$size-7px-to-vw: (math.div(100, $size-base) * 7) + vw;
$size-8px-to-vw: (math.div(100, $size-base) * 8) + vw;
$size-9px-to-vw: (math.div(100, $size-base) * 9) + vw;
$size-10px-to-vw: (math.div(100, $size-base) * 10) + vw;
$size-11px-to-vw: (math.div(100, $size-base) * 11) + vw;
$size-12px-to-vw: (math.div(100, $size-base) * 12) + vw;
$size-13px-to-vw: (math.div(100, $size-base) * 13) + vw;
$size-14px-to-vw: (math.div(100, $size-base) * 14) + vw;
$size-15px-to-vw: (math.div(100, $size-base) * 15) + vw;
$size-16px-to-vw: (math.div(100, $size-base) * 16) + vw;
$size-17px-to-vw: (math.div(100, $size-base) * 17) + vw;
$size-18px-to-vw: (math.div(100, $size-base) * 18) + vw;
$size-19px-to-vw: (math.div(100, $size-base) * 19) + vw;
$size-20px-to-vw: (math.div(100, $size-base) * 20) + vw;
$size-21px-to-vw: (math.div(100, $size-base) * 21) + vw;
$size-22px-to-vw: (math.div(100, $size-base) * 22) + vw;
$size-23px-to-vw: (math.div(100, $size-base) * 23) + vw;
$size-24px-to-vw: (math.div(100, $size-base) * 24) + vw;
$size-25px-to-vw: (math.div(100, $size-base) * 25) + vw;
$size-26px-to-vw: (math.div(100, $size-base) * 26) + vw;
$size-27px-to-vw: (math.div(100, $size-base) * 27) + vw;
$size-28px-to-vw: (math.div(100, $size-base) * 28) + vw;
$size-29px-to-vw: (math.div(100, $size-base) * 29) + vw;
$size-30px-to-vw: (math.div(100, $size-base) * 30) + vw;
$size-31px-to-vw: (math.div(100, $size-base) * 31) + vw;
$size-32px-to-vw: (math.div(100, $size-base) * 32) + vw;
$size-33px-to-vw: (math.div(100, $size-base) * 33) + vw;
$size-34px-to-vw: (math.div(100, $size-base) * 34) + vw;
$size-35px-to-vw: (math.div(100, $size-base) * 35) + vw;
$size-36px-to-vw: (math.div(100, $size-base) * 36) + vw;
$size-37px-to-vw: (math.div(100, $size-base) * 37) + vw;
$size-38px-to-vw: (math.div(100, $size-base) * 38) + vw;
$size-39px-to-vw: (math.div(100, $size-base) * 39) + vw;
$size-40px-to-vw: (math.div(100, $size-base) * 40) + vw;
$size-41px-to-vw: (math.div(100, $size-base) * 41) + vw;
$size-42px-to-vw: (math.div(100, $size-base) * 42) + vw;
$size-43px-to-vw: (math.div(100, $size-base) * 43) + vw;
$size-44px-to-vw: (math.div(100, $size-base) * 44) + vw;
$size-45px-to-vw: (math.div(100, $size-base) * 45) + vw;
$size-46px-to-vw: (math.div(100, $size-base) * 46) + vw;
$size-47px-to-vw: (math.div(100, $size-base) * 47) + vw;
$size-48px-to-vw: (math.div(100, $size-base) * 48) + vw;
$size-49px-to-vw: (math.div(100, $size-base) * 49) + vw;
$size-50px-to-vw: (math.div(100, $size-base) * 50) + vw;
$size-51px-to-vw: (math.div(100, $size-base) * 51) + vw;
$size-52px-to-vw: (math.div(100, $size-base) * 52) + vw;
$size-53px-to-vw: (math.div(100, $size-base) * 53) + vw;
$size-54px-to-vw: (math.div(100, $size-base) * 54) + vw;
$size-55px-to-vw: (math.div(100, $size-base) * 55) + vw;
$size-56px-to-vw: (math.div(100, $size-base) * 56) + vw;
$size-57px-to-vw: (math.div(100, $size-base) * 57) + vw;
$size-58px-to-vw: (math.div(100, $size-base) * 58) + vw;
$size-59px-to-vw: (math.div(100, $size-base) * 59) + vw;
$size-60px-to-vw: (math.div(100, $size-base) * 60) + vw;
$size-61px-to-vw: (math.div(100, $size-base) * 61) + vw;
$size-62px-to-vw: (math.div(100, $size-base) * 62) + vw;
$size-63px-to-vw: (math.div(100, $size-base) * 63) + vw;
$size-64px-to-vw: (math.div(100, $size-base) * 64) + vw;
$size-65px-to-vw: (math.div(100, $size-base) * 65) + vw;
$size-66px-to-vw: (math.div(100, $size-base) * 66) + vw;
$size-67px-to-vw: (math.div(100, $size-base) * 67) + vw;
$size-68px-to-vw: (math.div(100, $size-base) * 68) + vw;
$size-69px-to-vw: (math.div(100, $size-base) * 69) + vw;
$size-70px-to-vw: (math.div(100, $size-base) * 70) + vw;
$size-71px-to-vw: (math.div(100, $size-base) * 71) + vw;
$size-72px-to-vw: (math.div(100, $size-base) * 72) + vw;
$size-73px-to-vw: (math.div(100, $size-base) * 73) + vw;
$size-74px-to-vw: (math.div(100, $size-base) * 74) + vw;
$size-75px-to-vw: (math.div(100, $size-base) * 75) + vw;
$size-76px-to-vw: (math.div(100, $size-base) * 76) + vw;
$size-77px-to-vw: (math.div(100, $size-base) * 77) + vw;
$size-78px-to-vw: (math.div(100, $size-base) * 78) + vw;
$size-79px-to-vw: (math.div(100, $size-base) * 79) + vw;
$size-80px-to-vw: (math.div(100, $size-base) * 80) + vw;
$size-81px-to-vw: (math.div(100, $size-base) * 81) + vw;
$size-82px-to-vw: (math.div(100, $size-base) * 82) + vw;
$size-83px-to-vw: (math.div(100, $size-base) * 83) + vw;
$size-84px-to-vw: (math.div(100, $size-base) * 84) + vw;
$size-85px-to-vw: (math.div(100, $size-base) * 85) + vw;
$size-86px-to-vw: (math.div(100, $size-base) * 86) + vw;
$size-87px-to-vw: (math.div(100, $size-base) * 87) + vw;
$size-88px-to-vw: (math.div(100, $size-base) * 88) + vw;
$size-89px-to-vw: (math.div(100, $size-base) * 89) + vw;
$size-90px-to-vw: (math.div(100, $size-base) * 90) + vw;
$size-91px-to-vw: (math.div(100, $size-base) * 91) + vw;
$size-92px-to-vw: (math.div(100, $size-base) * 92) + vw;
$size-93px-to-vw: (math.div(100, $size-base) * 93) + vw;
$size-94px-to-vw: (math.div(100, $size-base) * 94) + vw;
$size-95px-to-vw: (math.div(100, $size-base) * 95) + vw;
$size-96px-to-vw: (math.div(100, $size-base) * 96) + vw;
$size-97px-to-vw: (math.div(100, $size-base) * 97) + vw;
$size-98px-to-vw: (math.div(100, $size-base) * 98) + vw;
$size-99px-to-vw: (math.div(100, $size-base) * 99) + vw;
$size-100px-to-vw: (math.div(100, $size-base) * 100) + vw;
$size-102px-to-vw: (math.div(100, $size-base) * 102) + vw;
$size-103px-to-vw: (math.div(100, $size-base) * 103) + vw;
$size-104px-to-vw: (math.div(100, $size-base) * 104) + vw;
$size-105px-to-vw: (math.div(100, $size-base) * 105) + vw;
$size-106px-to-vw: (math.div(100, $size-base) * 106) + vw;
$size-107px-to-vw: (math.div(100, $size-base) * 107) + vw;
$size-108px-to-vw: (math.div(100, $size-base) * 108) + vw;
$size-109px-to-vw: (math.div(100, $size-base) * 109) + vw;
$size-110px-to-vw: (math.div(100, $size-base) * 110) + vw;
$size-111px-to-vw: (math.div(100, $size-base) * 111) + vw;
$size-112px-to-vw: (math.div(100, $size-base) * 112) + vw;
$size-113px-to-vw: (math.div(100, $size-base) * 113) + vw;
$size-114px-to-vw: (math.div(100, $size-base) * 114) + vw;
$size-115px-to-vw: (math.div(100, $size-base) * 115) + vw;
$size-116px-to-vw: (math.div(100, $size-base) * 116) + vw;
$size-117px-to-vw: (math.div(100, $size-base) * 117) + vw;
$size-118px-to-vw: (math.div(100, $size-base) * 118) + vw;
$size-119px-to-vw: (math.div(100, $size-base) * 119) + vw;
$size-120px-to-vw: (math.div(100, $size-base) * 120) + vw;
$size-121px-to-vw: (math.div(100, $size-base) * 121) + vw;
$size-122px-to-vw: (math.div(100, $size-base) * 122) + vw;
$size-123px-to-vw: (math.div(100, $size-base) * 123) + vw;
$size-124px-to-vw: (math.div(100, $size-base) * 124) + vw;
$size-125px-to-vw: (math.div(100, $size-base) * 125) + vw;
$size-126px-to-vw: (math.div(100, $size-base) * 126) + vw;
$size-127px-to-vw: (math.div(100, $size-base) * 127) + vw;
$size-128px-to-vw: (math.div(100, $size-base) * 128) + vw;
$size-129px-to-vw: (math.div(100, $size-base) * 129) + vw;
$size-130px-to-vw: (math.div(100, $size-base) * 130) + vw;
$size-131px-to-vw: (math.div(100, $size-base) * 131) + vw;
$size-132px-to-vw: (math.div(100, $size-base) * 132) + vw;
$size-133px-to-vw: (math.div(100, $size-base) * 133) + vw;
$size-134px-to-vw: (math.div(100, $size-base) * 134) + vw;
$size-135px-to-vw: (math.div(100, $size-base) * 135) + vw;
$size-136px-to-vw: (math.div(100, $size-base) * 136) + vw;
$size-137px-to-vw: (math.div(100, $size-base) * 137) + vw;
$size-138px-to-vw: (math.div(100, $size-base) * 138) + vw;
$size-139px-to-vw: (math.div(100, $size-base) * 139) + vw;
$size-140px-to-vw: (math.div(100, $size-base) * 140) + vw;
$size-141px-to-vw: (math.div(100, $size-base) * 141) + vw;
$size-142px-to-vw: (math.div(100, $size-base) * 142) + vw;
$size-143px-to-vw: (math.div(100, $size-base) * 143) + vw;
$size-144px-to-vw: (math.div(100, $size-base) * 144) + vw;
$size-145px-to-vw: (math.div(100, $size-base) * 145) + vw;
$size-146px-to-vw: (math.div(100, $size-base) * 146) + vw;
$size-147px-to-vw: (math.div(100, $size-base) * 147) + vw;
$size-148px-to-vw: (math.div(100, $size-base) * 148) + vw;
$size-149px-to-vw: (math.div(100, $size-base) * 149) + vw;
$size-150px-to-vw: (math.div(100, $size-base) * 150) + vw;
$size-151px-to-vw: (math.div(100, $size-base) * 151) + vw;
$size-152px-to-vw: (math.div(100, $size-base) * 152) + vw;
$size-153px-to-vw: (math.div(100, $size-base) * 153) + vw;
$size-154px-to-vw: (math.div(100, $size-base) * 154) + vw;
$size-155px-to-vw: (math.div(100, $size-base) * 155) + vw;
$size-156px-to-vw: (math.div(100, $size-base) * 156) + vw;
$size-157px-to-vw: (math.div(100, $size-base) * 157) + vw;
$size-158px-to-vw: (math.div(100, $size-base) * 158) + vw;
$size-159px-to-vw: (math.div(100, $size-base) * 159) + vw;
$size-160px-to-vw: (math.div(100, $size-base) * 160) + vw;
$size-161px-to-vw: (math.div(100, $size-base) * 161) + vw;
$size-162px-to-vw: (math.div(100, $size-base) * 162) + vw;
$size-163px-to-vw: (math.div(100, $size-base) * 163) + vw;
$size-164px-to-vw: (math.div(100, $size-base) * 164) + vw;
$size-165px-to-vw: (math.div(100, $size-base) * 165) + vw;
$size-166px-to-vw: (math.div(100, $size-base) * 166) + vw;
$size-167px-to-vw: (math.div(100, $size-base) * 167) + vw;
$size-168px-to-vw: (math.div(100, $size-base) * 168) + vw;
$size-169px-to-vw: (math.div(100, $size-base) * 169) + vw;
$size-170px-to-vw: (math.div(100, $size-base) * 170) + vw;
$size-171px-to-vw: (math.div(100, $size-base) * 171) + vw;
$size-172px-to-vw: (math.div(100, $size-base) * 172) + vw;
$size-173px-to-vw: (math.div(100, $size-base) * 173) + vw;
$size-174px-to-vw: (math.div(100, $size-base) * 174) + vw;
$size-175px-to-vw: (math.div(100, $size-base) * 175) + vw;
$size-176px-to-vw: (math.div(100, $size-base) * 176) + vw;
$size-177px-to-vw: (math.div(100, $size-base) * 177) + vw;
$size-178px-to-vw: (math.div(100, $size-base) * 178) + vw;
$size-179px-to-vw: (math.div(100, $size-base) * 179) + vw;
$size-180px-to-vw: (math.div(100, $size-base) * 180) + vw;
$size-181px-to-vw: (math.div(100, $size-base) * 181) + vw;
$size-182px-to-vw: (math.div(100, $size-base) * 182) + vw;
$size-183px-to-vw: (math.div(100, $size-base) * 183) + vw;
$size-184px-to-vw: (math.div(100, $size-base) * 184) + vw;
$size-185px-to-vw: (math.div(100, $size-base) * 185) + vw;
$size-186px-to-vw: (math.div(100, $size-base) * 186) + vw;
$size-187px-to-vw: (math.div(100, $size-base) * 187) + vw;
$size-188px-to-vw: (math.div(100, $size-base) * 188) + vw;
$size-189px-to-vw: (math.div(100, $size-base) * 189) + vw;
$size-190px-to-vw: (math.div(100, $size-base) * 190) + vw;
$size-191px-to-vw: (math.div(100, $size-base) * 191) + vw;
$size-192px-to-vw: (math.div(100, $size-base) * 192) + vw;
$size-193px-to-vw: (math.div(100, $size-base) * 193) + vw;
$size-194px-to-vw: (math.div(100, $size-base) * 194) + vw;
$size-195px-to-vw: (math.div(100, $size-base) * 195) + vw;
$size-196px-to-vw: (math.div(100, $size-base) * 196) + vw;
$size-197px-to-vw: (math.div(100, $size-base) * 197) + vw;
$size-198px-to-vw: (math.div(100, $size-base) * 198) + vw;
$size-199px-to-vw: (math.div(100, $size-base) * 199) + vw;
$size-200px-to-vw: (math.div(100, $size-base) * 200) + vw;
$size-202px-to-vw: (math.div(100, $size-base) * 202) + vw;
$size-203px-to-vw: (math.div(100, $size-base) * 203) + vw;
$size-204px-to-vw: (math.div(100, $size-base) * 204) + vw;
$size-205px-to-vw: (math.div(100, $size-base) * 205) + vw;
$size-206px-to-vw: (math.div(100, $size-base) * 206) + vw;
$size-207px-to-vw: (math.div(100, $size-base) * 207) + vw;
$size-208px-to-vw: (math.div(100, $size-base) * 208) + vw;
$size-209px-to-vw: (math.div(100, $size-base) * 209) + vw;
$size-210px-to-vw: (math.div(100, $size-base) * 210) + vw;
$size-211px-to-vw: (math.div(100, $size-base) * 211) + vw;
$size-212px-to-vw: (math.div(100, $size-base) * 212) + vw;
$size-213px-to-vw: (math.div(100, $size-base) * 213) + vw;
$size-214px-to-vw: (math.div(100, $size-base) * 214) + vw;
$size-215px-to-vw: (math.div(100, $size-base) * 215) + vw;
$size-216px-to-vw: (math.div(100, $size-base) * 216) + vw;
$size-217px-to-vw: (math.div(100, $size-base) * 217) + vw;
$size-218px-to-vw: (math.div(100, $size-base) * 218) + vw;
$size-219px-to-vw: (math.div(100, $size-base) * 219) + vw;
$size-220px-to-vw: (math.div(100, $size-base) * 220) + vw;
$size-221px-to-vw: (math.div(100, $size-base) * 221) + vw;
$size-222px-to-vw: (math.div(100, $size-base) * 222) + vw;
$size-223px-to-vw: (math.div(100, $size-base) * 223) + vw;
$size-224px-to-vw: (math.div(100, $size-base) * 224) + vw;
$size-225px-to-vw: (math.div(100, $size-base) * 225) + vw;
$size-226px-to-vw: (math.div(100, $size-base) * 226) + vw;
$size-227px-to-vw: (math.div(100, $size-base) * 227) + vw;
$size-228px-to-vw: (math.div(100, $size-base) * 228) + vw;
$size-229px-to-vw: (math.div(100, $size-base) * 229) + vw;
$size-230px-to-vw: (math.div(100, $size-base) * 230) + vw;
$size-231px-to-vw: (math.div(100, $size-base) * 231) + vw;
$size-232px-to-vw: (math.div(100, $size-base) * 232) + vw;
$size-233px-to-vw: (math.div(100, $size-base) * 233) + vw;
$size-234px-to-vw: (math.div(100, $size-base) * 234) + vw;
$size-235px-to-vw: (math.div(100, $size-base) * 235) + vw;
$size-236px-to-vw: (math.div(100, $size-base) * 236) + vw;
$size-237px-to-vw: (math.div(100, $size-base) * 237) + vw;
$size-238px-to-vw: (math.div(100, $size-base) * 238) + vw;
$size-239px-to-vw: (math.div(100, $size-base) * 239) + vw;
$size-240px-to-vw: (math.div(100, $size-base) * 240) + vw;
$size-241px-to-vw: (math.div(100, $size-base) * 241) + vw;
$size-242px-to-vw: (math.div(100, $size-base) * 242) + vw;
$size-243px-to-vw: (math.div(100, $size-base) * 243) + vw;
$size-244px-to-vw: (math.div(100, $size-base) * 244) + vw;
$size-245px-to-vw: (math.div(100, $size-base) * 245) + vw;
$size-246px-to-vw: (math.div(100, $size-base) * 246) + vw;
$size-247px-to-vw: (math.div(100, $size-base) * 247) + vw;
$size-248px-to-vw: (math.div(100, $size-base) * 248) + vw;
$size-249px-to-vw: (math.div(100, $size-base) * 249) + vw;
$size-250px-to-vw: (math.div(100, $size-base) * 250) + vw;
$size-251px-to-vw: (math.div(100, $size-base) * 251) + vw;
$size-252px-to-vw: (math.div(100, $size-base) * 252) + vw;
$size-253px-to-vw: (math.div(100, $size-base) * 253) + vw;
$size-254px-to-vw: (math.div(100, $size-base) * 254) + vw;
$size-255px-to-vw: (math.div(100, $size-base) * 255) + vw;
$size-256px-to-vw: (math.div(100, $size-base) * 256) + vw;
$size-257px-to-vw: (math.div(100, $size-base) * 257) + vw;
$size-258px-to-vw: (math.div(100, $size-base) * 258) + vw;
$size-259px-to-vw: (math.div(100, $size-base) * 259) + vw;
$size-260px-to-vw: (math.div(100, $size-base) * 260) + vw;
$size-261px-to-vw: (math.div(100, $size-base) * 261) + vw;
$size-262px-to-vw: (math.div(100, $size-base) * 262) + vw;
$size-263px-to-vw: (math.div(100, $size-base) * 263) + vw;
$size-264px-to-vw: (math.div(100, $size-base) * 264) + vw;
$size-265px-to-vw: (math.div(100, $size-base) * 265) + vw;
$size-266px-to-vw: (math.div(100, $size-base) * 266) + vw;
$size-267px-to-vw: (math.div(100, $size-base) * 267) + vw;
$size-268px-to-vw: (math.div(100, $size-base) * 268) + vw;
$size-269px-to-vw: (math.div(100, $size-base) * 269) + vw;
$size-270px-to-vw: (math.div(100, $size-base) * 270) + vw;
$size-271px-to-vw: (math.div(100, $size-base) * 271) + vw;
$size-272px-to-vw: (math.div(100, $size-base) * 272) + vw;
$size-273px-to-vw: (math.div(100, $size-base) * 273) + vw;
$size-274px-to-vw: (math.div(100, $size-base) * 274) + vw;
$size-275px-to-vw: (math.div(100, $size-base) * 275) + vw;
$size-276px-to-vw: (math.div(100, $size-base) * 276) + vw;
$size-277px-to-vw: (math.div(100, $size-base) * 277) + vw;
$size-278px-to-vw: (math.div(100, $size-base) * 278) + vw;
$size-279px-to-vw: (math.div(100, $size-base) * 279) + vw;
$size-280px-to-vw: (math.div(100, $size-base) * 280) + vw;
$size-281px-to-vw: (math.div(100, $size-base) * 281) + vw;
$size-282px-to-vw: (math.div(100, $size-base) * 282) + vw;
$size-283px-to-vw: (math.div(100, $size-base) * 283) + vw;
$size-284px-to-vw: (math.div(100, $size-base) * 284) + vw;
$size-285px-to-vw: (math.div(100, $size-base) * 285) + vw;
$size-286px-to-vw: (math.div(100, $size-base) * 286) + vw;
$size-287px-to-vw: (math.div(100, $size-base) * 287) + vw;
$size-288px-to-vw: (math.div(100, $size-base) * 288) + vw;
$size-289px-to-vw: (math.div(100, $size-base) * 289) + vw;
$size-290px-to-vw: (math.div(100, $size-base) * 290) + vw;
$size-291px-to-vw: (math.div(100, $size-base) * 291) + vw;
$size-292px-to-vw: (math.div(100, $size-base) * 292) + vw;
$size-293px-to-vw: (math.div(100, $size-base) * 293) + vw;
$size-294px-to-vw: (math.div(100, $size-base) * 294) + vw;
$size-295px-to-vw: (math.div(100, $size-base) * 295) + vw;
$size-296px-to-vw: (math.div(100, $size-base) * 296) + vw;
$size-297px-to-vw: (math.div(100, $size-base) * 297) + vw;
$size-298px-to-vw: (math.div(100, $size-base) * 298) + vw;
$size-299px-to-vw: (math.div(100, $size-base) * 299) + vw;
$size-300px-to-vw: (math.div(100, $size-base) * 300) + vw;
$size-302px-to-vw: (math.div(100, $size-base) * 302) + vw;
$size-303px-to-vw: (math.div(100, $size-base) * 303) + vw;
$size-304px-to-vw: (math.div(100, $size-base) * 304) + vw;
$size-305px-to-vw: (math.div(100, $size-base) * 305) + vw;
$size-306px-to-vw: (math.div(100, $size-base) * 306) + vw;
$size-307px-to-vw: (math.div(100, $size-base) * 307) + vw;
$size-308px-to-vw: (math.div(100, $size-base) * 308) + vw;
$size-309px-to-vw: (math.div(100, $size-base) * 309) + vw;
$size-310px-to-vw: (math.div(100, $size-base) * 310) + vw;
$size-311px-to-vw: (math.div(100, $size-base) * 311) + vw;
$size-312px-to-vw: (math.div(100, $size-base) * 312) + vw;
$size-313px-to-vw: (math.div(100, $size-base) * 313) + vw;
$size-314px-to-vw: (math.div(100, $size-base) * 314) + vw;
$size-315px-to-vw: (math.div(100, $size-base) * 315) + vw;
$size-316px-to-vw: (math.div(100, $size-base) * 316) + vw;
$size-317px-to-vw: (math.div(100, $size-base) * 317) + vw;
$size-318px-to-vw: (math.div(100, $size-base) * 318) + vw;
$size-319px-to-vw: (math.div(100, $size-base) * 319) + vw;
$size-320px-to-vw: (math.div(100, $size-base) * 320) + vw;
$size-321px-to-vw: (math.div(100, $size-base) * 321) + vw;
$size-322px-to-vw: (math.div(100, $size-base) * 322) + vw;
$size-323px-to-vw: (math.div(100, $size-base) * 323) + vw;
$size-324px-to-vw: (math.div(100, $size-base) * 324) + vw;
$size-325px-to-vw: (math.div(100, $size-base) * 325) + vw;
$size-326px-to-vw: (math.div(100, $size-base) * 326) + vw;
$size-327px-to-vw: (math.div(100, $size-base) * 327) + vw;
$size-328px-to-vw: (math.div(100, $size-base) * 328) + vw;
$size-329px-to-vw: (math.div(100, $size-base) * 329) + vw;
$size-330px-to-vw: (math.div(100, $size-base) * 330) + vw;
$size-331px-to-vw: (math.div(100, $size-base) * 331) + vw;
$size-332px-to-vw: (math.div(100, $size-base) * 332) + vw;
$size-333px-to-vw: (math.div(100, $size-base) * 333) + vw;
$size-334px-to-vw: (math.div(100, $size-base) * 334) + vw;
$size-335px-to-vw: (math.div(100, $size-base) * 335) + vw;
$size-336px-to-vw: (math.div(100, $size-base) * 336) + vw;
$size-337px-to-vw: (math.div(100, $size-base) * 337) + vw;
$size-338px-to-vw: (math.div(100, $size-base) * 338) + vw;
$size-339px-to-vw: (math.div(100, $size-base) * 339) + vw;
$size-340px-to-vw: (math.div(100, $size-base) * 340) + vw;
$size-341px-to-vw: (math.div(100, $size-base) * 341) + vw;
$size-342px-to-vw: (math.div(100, $size-base) * 342) + vw;
$size-343px-to-vw: (math.div(100, $size-base) * 343) + vw;
$size-344px-to-vw: (math.div(100, $size-base) * 344) + vw;
$size-345px-to-vw: (math.div(100, $size-base) * 345) + vw;
$size-346px-to-vw: (math.div(100, $size-base) * 346) + vw;
$size-347px-to-vw: (math.div(100, $size-base) * 347) + vw;
$size-348px-to-vw: (math.div(100, $size-base) * 348) + vw;
$size-349px-to-vw: (math.div(100, $size-base) * 349) + vw;
$size-350px-to-vw: (math.div(100, $size-base) * 350) + vw;
$size-351px-to-vw: (math.div(100, $size-base) * 351) + vw;
$size-352px-to-vw: (math.div(100, $size-base) * 352) + vw;
$size-353px-to-vw: (math.div(100, $size-base) * 353) + vw;
$size-354px-to-vw: (math.div(100, $size-base) * 354) + vw;
$size-355px-to-vw: (math.div(100, $size-base) * 355) + vw;
$size-356px-to-vw: (math.div(100, $size-base) * 356) + vw;
$size-357px-to-vw: (math.div(100, $size-base) * 357) + vw;
$size-358px-to-vw: (math.div(100, $size-base) * 358) + vw;
$size-359px-to-vw: (math.div(100, $size-base) * 359) + vw;
$size-360px-to-vw: (math.div(100, $size-base) * 360) + vw;
$size-361px-to-vw: (math.div(100, $size-base) * 361) + vw;
$size-362px-to-vw: (math.div(100, $size-base) * 362) + vw;
$size-363px-to-vw: (math.div(100, $size-base) * 363) + vw;
$size-364px-to-vw: (math.div(100, $size-base) * 364) + vw;
$size-365px-to-vw: (math.div(100, $size-base) * 365) + vw;
$size-366px-to-vw: (math.div(100, $size-base) * 366) + vw;
$size-367px-to-vw: (math.div(100, $size-base) * 367) + vw;
$size-368px-to-vw: (math.div(100, $size-base) * 368) + vw;
$size-369px-to-vw: (math.div(100, $size-base) * 369) + vw;
$size-370px-to-vw: (math.div(100, $size-base) * 370) + vw;
$size-371px-to-vw: (math.div(100, $size-base) * 371) + vw;
$size-372px-to-vw: (math.div(100, $size-base) * 372) + vw;
$size-373px-to-vw: (math.div(100, $size-base) * 373) + vw;
$size-374px-to-vw: (math.div(100, $size-base) * 374) + vw;
$size-375px-to-vw: (math.div(100, $size-base) * 375) + vw;
